<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Url Shortener</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="container">
    <h1>Url Shortener</h1>

    <form action="shorten" method="post">
        <div class="container-form">
            <label  for="urlname">Url:</label> <br/>
            <input type="text" name="originalUrl" id="urlname" class="urlname"><br />

            <button class="submit" type="submit">Submit</button>
        </div>
    </form>
</div>
</body>
</html>